<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Ruby Chess</title>
  </head>

  <body>

    <h1>Welcome to Ruby Chess</h1>
    <a href="/game">
      <div>
        Game Start
      </div>
    </a>

  </body>
</html>
